* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

.img-background {
  width: 100%;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1515890922410-ae767899d6b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80') no-repeat ;
  background-size: cover;
  background-position: left;
}

/* Alexandre Camilo and Frontend developer */

.title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title h1 {
  font-size: 6.5vw;
  font-weight: 700;
}

.title h3 {
  color: white;
  font-size: 2.7083333333333vw;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title h3::before, h3::after {
  content: "";
  position: absolute;
  margin: auto;
  height: 2px;
  background: #fff;
  width: 3vw;
  top: 50%;
}

.title h3::before {
  right: 31%;
}

.title h3::after {
  left: 31%;
}
